.site-header {
  background-color: #1a1a1d;
  padding: 15px 60px;

  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;    
  opacity: 0.9;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left a {
  color: #ffffff;
  margin-right: 30px;
}

.nav-left a.logo {
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

#who {
  color: #ffffff;
  font-weight: 500;
  margin-right: 10px;
}

button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
}

.btn-light {
  background-color: #ffffff;
  color: #1a1a1d;
}

.btn-dark {
  background: transparent;
  color: #ffffff;
}

button:hover {
  background-color: transparent;
  color: #fbfbfb;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.burger {
  font-size: 22px;
  padding: 5px 11px; 
}



.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #1a1a1d;
  min-width: 220px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  border-radius: 12px;
  padding: 10px 0;
  z-index: 1000;
}
.dropdown-content a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: #1a1a1d;
  transition: background 0.2s ease;
}
.dropdown-content a:hover {
  background-color: #f2f2f2;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.5);
  z-index: 1000;
}
.modal-content {
  background: #0f4a61;
  padding: 2rem;
  border-radius: 8px;
  color: #fff;
  min-width: 260px;
  position: relative;
}
.modal-close {
  position: absolute;
  top: .5rem;
  right: .75rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal input {
  display: block;
  width: 100%;
  margin: .5rem 0;
  padding: .5rem;
  border-radius: 6px;
  border: none;
}
.modal button {
  margin-top: 1rem;
  width: 100%;
  padding: .6rem;
  border: none;
  border-radius: 6px;
  background: #3498db;
  color: #fff;
  cursor: pointer;
}
.modal button:hover {
  background: #1d1d1d;
}
.error {
  color: #ff7070;
  font-size: .85rem;
  margin-top: .5rem;
}

.btn-light {
  background-color: #ffffff;
  color: #1d1d1d;
}

.btn-dark {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-light:hover {
  background-color: transparent;
  color: #ffffff;
}

.btn-dark:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

