<link rel="stylesheet" href="/css/header.css">
<header class="site-header">
    <div class="container header-content">
        <div class="nav-left">
            <a href="/index.html" class="logo">Soren</a>
            <a href="#">About me</a>
            <a href="/pages/iot.html">Projects</a>
            <a href="#">Contacts</a>
        </div>

        <div class="nav-right">
            <button class="btn btn-light">Sign Up</button>
            <button class="btn btn-dark">Log In</button>

            <div class="dropdown">
                <button class="burger" aria-label="Menu">&#9776;</button>
                <div class="dropdown-content">
                    <a href="#">Rock Paper Scissors</a>
                    <a href="#">Vending Machine</a>
                    <a href="#">Etch a sketch</a>
                    <a href="#">Sudoku</a>
                    <a href="#">Mine Sweeper</a>
                    <hr>
                    <a href="#" class="logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
</header>